.As_cross_as_a_hoon_my_built_like_a_op_shop__We_ {
    font-size: 11px;
    font-family: "Helvetica";
    color: rgb( 126, 126, 126 );
    line-height: 1.909;
    text-align: left;
    position: absolute;
    left: 304px;
    top: 3779px;
    width: 762px;
    height: 33px;
    z-index: 9;
}
.Rectangle_14 {
    background-color: rgb( 145, 77, 207 );
    position: absolute;
    left: 840px;
    top: 3570px;
    width: 48px;
    height: 4px;
    z-index: 32;
}
.A_full_col_text_box_sits_nicely_like_this {
    font-size: 30px;
    font-family: "Nexa";
    color: rgb( 37, 37, 37 );
    font-weight: bold;
    line-height: 1;
    text-align: left;
    position: absolute;
    left: 355px;
    top: 3177px;
    width: 503px;
    height: 29px;
    z-index: 114;
}
.Lorem_ipsum_dolor_sit_amet__consectetur_adipisc {
    font-size: 14px;
    font-family: "Nexa";
    color: rgb( 103, 36, 167 );
    font-weight: bold;
    line-height: 1.786;
    text-align: left;
    position: absolute;
    left: 355px;
    top: 3230px;
    width: 812px;
    height: 136px;
    z-index: 113;
}
