/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* gradient header menu */
/* header box shadow */
/* transition-properties */
/* transform origin */
/* media query */
/* font's family */
/* font's size */
/* font's colors */
/* border's color */
/* navigation's buttons */
/* background's colors */
/* media queries */
/* additional media query */
body {
  width: 100%;
  background-color: #222; }

.container {
  margin: 0 auto;
  max-width: 960px;
  height: 100%; }
  @media (min-width: 992px) and (max-width: 1199px) {
    .container {
      padding: 0 15px;
      width: auto; } }
  @media (min-width: 769px) and (max-width: 991px) {
    .container {
      padding: 0 15px; } }
  @media (max-width: 768px) {
    .container {
      overflow: hidden;
      padding: 0 15px;
      width: auto; } }

a {
  text-decoration: none; }

header {
  height: 230px;
  background: #ebebeb; }
  @media (min-width: 769px) and (max-width: 991px) {
    header {
      height: 185px; } }
  @media (max-width: 768px) {
    header {
      height: 160px; } }

.header-info input[type=checkbox] {
  display: none; }

.header-info {
  padding-top: 42px; }
  @media (min-width: 769px) and (max-width: 991px) {
    .header-info {
      padding: 25px 15px 0 15px; } }
  @media (max-width: 768px) {
    .header-info {
      padding-top: 10px; } }

.header-info .logo {
  float: left;
  padding-left: 20px; }
  @media (max-width: 768px) {
    .header-info .logo {
      width: 40%; }
      .header-info .logo img {
        max-width: 100%; } }

.header-info .search {
  float: right;
  padding: 7px 0;
  width: 31%; }
  @media (max-width: 768px) {
    .header-info .search {
      margin: 20px 0;
      width: 100%;
      text-align: center; } }

.logo h6 {
  position: relative;
  bottom: 15px;
  left: 20%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 900;
  font-style: italic;
  color: #7b7b7b;
  text-shadow: 0.5px 0.866px 0 #fff; }
  @media (max-width: 948px) {
    .logo h6 {
      left: 23%; } }
  @media (max-width: 768px) {
    .logo h6 {
      display: none; } }

.logo, .header-addition, .search {
  display: inline-block;
  width: 33%; }

.header-addition {
  padding-top: 18px;
  text-align: center; }
  .header-addition ul.add-list {
    margin: 0;
    padding-left: 0; }
    @media (min-width: 769px) and (max-width: 991px) {
      .header-addition ul.add-list {
        text-align: right; } }
  @media (min-width: 769px) and (max-width: 991px) {
    .header-addition {
      width: 28%; } }
  @media (max-width: 768px) {
    .header-addition {
      display: none; } }

.header-addition li {
  display: inline-block;
  margin: 0;
  padding-left: 25px;
  font-size: 12px;
  color: #a7a7a7;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  .header-addition li:first-child a {
    padding-right: 5px;
    border-right: 1px solid #7e7e7e; }
    @media (min-width: 769px) and (max-width: 991px) {
      .header-addition li:first-child a {
        padding-right: 0;
        border-right: none; } }
  .header-addition li .dropdown {
    position: relative; }
  .header-addition li:hover {
    cursor: pointer; }
  .header-addition li a {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 12px;
    color: #a7a7a7; }
    .header-addition li a:hover {
      color: #701dbb; }
  @media (min-width: 769px) and (max-width: 991px) {
    .header-addition li {
      font-size: 14px; } }
  .header-addition li [class^="flaticon-"]:after,
  .header-addition li [class*=" flaticon-"]:after,
  .header-addition li [class^="flaticon-"]:before,
  .header-addition li [class*=" flaticon-"]:before {
    padding: 0 7px;
    font-size: 12px; }
  > .header-addition li:first-child {
    padding-right: 5px;
    border-right: 1px solid #d4d4d4; }
    @media (max-width: 948px) {
      > .header-addition li:first-child {
        display: block;
        padding-right: 0;
        border-right: none; } }
  .header-addition li:hover {
    color: #701dbb; }

.header-addition ul.dropdown-list {
  position: absolute;
  display: none;
  z-index: 5;
  padding: 10px 0;
  min-width: 105px;
  background: #fff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fff 0%, #d7d7d7 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #d7d7d7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fff 0%, #d7d7d7 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fff 0%, #d7d7d7 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fff 0%, #d7d7d7 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fff 0%, #d7d7d7 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#d7d7d7',GradientType=0 );
  /* IE6-9 */ }
  .header-addition ul.dropdown-list li {
    display: list-item;
    padding: 10px 25px;
    list-style-type: none; }

.header-addition li.dropdown:hover ul.dropdown-list {
  display: block; }

@media (min-width: 769px) and (max-width: 991px) {
  .header-info .search {
    width: 35%; } }

.search form {
  position: relative; }
  .search form label {
    position: absolute;
    top: 25%;
    right: 15px; }
    .search form label i {
      color: #8f33c4; }

.search input {
  position: relative;
  padding: 15px 40px 15px 15px;
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  border: none;
  border-radius: 0;
  font-size: 12px; }
  @media (min-width: 769px) and (max-width: 991px) {
    .search input {
      font-size: 16px; } }
  @media (max-width: 768px) {
    .search input {
      padding: 15px 40px 15px 15px;
      width: 100%;
      font-size: 14px; } }

header nav {
  position: relative;
  bottom: -17px;
  clear: both; }

/* hidden top  menu in buttton */
.btn-menu {
  display: none; }
  @media (max-width: 768px) {
    .btn-menu {
      position: fixed;
      top: 10px;
      right: 15px;
      display: block;
      z-index: 3;
      padding: 10px;
      width: 25px;
      background: #fff;
      cursor: pointer;
      color: #fff;
      -webkit-box-shadow: 0 0 10px #dedede ;
      -moz-box-shadow: 0 0 10px #dedede ;
      box-shadow: 0 0 10px #dedede ;
      transition: left .23s;
      -webkit-transform: translateZ(0);
      -webkit-backface-visibility: hidden; } }

.btn-menu span {
  position: relative;
  display: block;
  margin: 4px 0 0;
  width: 26px;
  height: 3px;
  background-color: #8f33c4;
  transition: all .1s linear .23s; }

.btn-menu span.first {
  margin-top: 0; }

.nav-trigger:checked ~ .btn-menu {
  right: 135px;
  box-shadow: none; }

.nav-trigger:checked ~ ul.menu.top {
  right: 0;
  z-index: 1;
  padding: 15px 5px; }
  @media (max-width: 768px) {
    .nav-trigger:checked ~ ul.menu.top {
      background: #fff; } }

.menu {
  padding-left: 0; }

ul.menu.top {
  text-align: center;
  font-size: 0; }
  @media (max-width: 768px) {
    ul.menu.top {
      position: fixed;
      top: 0;
      right: -180px;
      display: block;
      float: right;
      margin: 0;
      padding: 0;
      width: 180px;
      box-sizing: border-box;
      transition: left .2s;
      list-style: none;
      background: #fff;
      /* Old browsers */
      background: -moz-linear-gradient(top, #fff 0%, #d7d7d7 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #d7d7d7));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #fff 0%, #d7d7d7 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #fff 0%, #d7d7d7 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #fff 0%, #d7d7d7 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, #fff 0%, #d7d7d7 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#d7d7d7',GradientType=0 );
      /* IE6-9 */
      -webkit-box-shadow: 0 0 10px #dedede ;
      -moz-box-shadow: 0 0 10px #dedede ;
      box-shadow: 0 0 10px #dedede ; } }

.top .menu-item {
  color: #717171;
  text-shadow: 0.5px 0.866px 0 #fff; }

[class^="flaticon-"]:before, [class*=" flaticon-"]:before {
  margin-left: 0; }

.menu.top li {
  position: relative;
  display: inline-block;
  min-width: 102px;
  max-height: 20px;
  border-bottom: 5px solid #6017a3;
  text-align: center;
  background: #fff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fff 0%, #d7d7d7 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #d7d7d7));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fff 0%, #d7d7d7 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fff 0%, #d7d7d7 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fff 0%, #d7d7d7 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fff 0%, #d7d7d7 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#d7d7d7',GradientType=0 );
  /* IE6-9 */ }
  .menu.top li [class^="flaticon-"]:before,
  .menu.top li [class*=" flaticon-"]:before,
  .menu.top li [class^="flaticon-"]:after,
  .menu.top li [class*=" flaticon-"]:after {
    margin-top: -20px;
    font-size: 28px; }
  .menu.top li i {
    display: block;
    margin-top: -38px;
    padding: 10px;
    text-align: center; }
    @media (max-width: 768px) {
      .menu.top li i {
        display: none; } }
  .menu.top li:hover, .menu.top li:active, .menu.top li:focus {
    z-index: 2;
    bottom: 10px;
    border-width: 15px;
    background: #fff;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 -4px 15px #dedede ;
    -moz-box-shadow: 0 -4px 15px #dedede ;
    box-shadow: 0 -4px 15px #dedede ; }
    @media (max-width: 768px) {
      .menu.top li:hover, .menu.top li:active, .menu.top li:focus {
        bottom: 0;
        box-shadow: none; }
        .menu.top li:hover:hover a, .menu.top li:hover:active a, .menu.top li:hover:focus a, .menu.top li:active:hover a, .menu.top li:active:active a, .menu.top li:active:focus a, .menu.top li:focus:hover a, .menu.top li:focus:active a, .menu.top li:focus:focus a {
          background: none;
          color: #8038c2; } }
  .menu.top li:not(:last-child) {
    border-right: 1px solid #d4d4d4; }
    @media (min-width: 769px) and (max-width: 991px) {
      .menu.top li:not(:last-child) {
        padding: 35px 5px; } }
    @media (max-width: 768px) {
      .menu.top li:not(:last-child) {
        padding: 15px;
        border-right: none; } }
  .menu.top li:first-child {
    padding: 45px 32px;
    border-bottom-color: #6017a3; }
    @media (min-width: 769px) and (max-width: 991px) {
      .menu.top li:first-child {
        padding: 35px 5px; } }
    @media (max-width: 768px) {
      .menu.top li:first-child {
        padding: 15px;
        border-bottom: none; }
        .menu.top li:first-child:hover a, .menu.top li:first-child:active a, .menu.top li:first-child:focus a {
          color: #6017a3; } }
    .menu.top li:first-child:hover, .menu.top li:first-child:active, .menu.top li:first-child:focus {
      border-bottom-color: #6017a3;
      color: #6017a3; }
  .menu.top li:nth-child(2) {
    padding: 45px 35px; }
  .menu.top li:last-child {
    padding: 45px 20px; }
  .menu.top li:last-child, .menu.top li:nth-child(2) {
    border-bottom-color: #701dbb; }
    @media (min-width: 769px) and (max-width: 991px) {
      .menu.top li:last-child, .menu.top li:nth-child(2) {
        padding: 35px 5px; } }
    @media (max-width: 768px) {
      .menu.top li:last-child, .menu.top li:nth-child(2) {
        padding: 15px;
        border-bottom: none; } }
    .menu.top li:last-child:hover, .menu.top li:last-child:active, .menu.top li:last-child:focus, .menu.top li:nth-child(2):hover, .menu.top li:nth-child(2):active, .menu.top li:nth-child(2):focus {
      border-bottom-color: #701dbb;
      color: #701dbb; }
  .menu.top li:nth-child(4) {
    padding: 45px 35px;
    border-bottom-color: #a34ff0; }
    @media (min-width: 769px) and (max-width: 991px) {
      .menu.top li:nth-child(4) {
        padding: 35px 5px; } }
    @media (max-width: 768px) {
      .menu.top li:nth-child(4) {
        padding: 15px;
        border-bottom: none; } }
    .menu.top li:nth-child(4):hover, .menu.top li:nth-child(4):active, .menu.top li:nth-child(4):focus {
      border-bottom-color: #a34ff0;
      color: #a34ff0; }
  .menu.top li:nth-child(3) {
    padding: 45px 25px; }
  .menu.top li:nth-child(5) {
    padding: 45px 22px; }
  .menu.top li:nth-child(3), .menu.top li:nth-child(5) {
    border-bottom-color: #8038c2; }
    @media (min-width: 769px) and (max-width: 991px) {
      .menu.top li:nth-child(3), .menu.top li:nth-child(5) {
        padding: 35px 5px; } }
    @media (max-width: 768px) {
      .menu.top li:nth-child(3), .menu.top li:nth-child(5) {
        padding: 15px;
        border-bottom: none; } }
    .menu.top li:nth-child(3):hover, .menu.top li:nth-child(3):active, .menu.top li:nth-child(3):focus, .menu.top li:nth-child(5):hover, .menu.top li:nth-child(5):active, .menu.top li:nth-child(5):focus {
      border-bottom-color: #8038c2;
      color: #8038c2; }
  @media (max-width: 768px) {
    .menu.top li {
      display: list-item;
      margin: -1px 0;
      background: #fff;
      border-bottom: none;
      text-align: right; } }

.menu.top a {
  font-size: 14px;
  font-weight: bold;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s; }
  @media (min-width: 769px) and (max-width: 991px) {
    .menu.top a {
      font-size: 16px; } }
  @media (max-width: 768px) {
    .menu.top a {
      display: block;
      width: 100%;
      font-size: 16px;
      text-align: right; } }
  .menu.top a:hover, .menu.top a:active, .menu.top a:focus {
    background: none;
    color: #701dbb; }

/** slider **/
.slider {
  background: url(../image//slider.jpg) no-repeat center center;
  background-size: cover;
  color: #fff; }

.slider-content {
  padding: 250px 0;
  text-align: center; }
  .slider-content .logo-sign {
    position: relative;
    margin: auto;
    width: 140px;
    height: 140px;
    background: #451a4a;
    border-radius: 50%; }
    .slider-content .logo-sign figure {
      position: absolute;
      top: 20%; }
  @media (max-width: 768px) {
    .slider-content {
      padding: 90px 0; } }

/** maint content **/
/* block-anywhere */
.block-anywhere {
  background: #2d2d2d; }
  .block-anywhere .block-title h2 {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 36px;
    letter-spacing: 3px; }
    @media (max-width: 768px) {
      .block-anywhere .block-title h2 {
        font-size: 20px; } }

.block-title, .title {
  padding: 40px 0 25px 0;
  text-align: center;
  font-size: 36px;
  color: #fff; }

@media (max-width: 768px) {
  .block-title {
    padding: 20px 15px; } }
.block-title p {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #a161db; }

.best-points .title {
  padding: 25px 0 0 0; }

figure.map {
  margin: 0;
  width: 100%; }
  @media (max-width: 768px) {
    figure.map {
      margin: 25px 0 0 0; } }
  figure.map img {
    max-width: 100%; }

.sprites {
  margin: -17px auto;
  height: 75px;
  max-width: 73%;
  background: url(../image//sprites.svg) 0 0 no-repeat; }
  @media (max-width: 768px) {
    .sprites {
      display: none; } }

.best-points {
  display: inline-block;
  clear: both;
  padding: 38px 0 15px 0; }
  @media (max-width: 768px) {
    .best-points {
      padding: 0 0 15px; } }

.best-points .info {
  display: inline-block;
  width: 32%; }
  .best-points .info h4 {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400; }
  @media (max-width: 768px) {
    .best-points .info {
      width: 100%; } }

.title {
  padding: 43px 0 0 0;
  font-size: 24px;
  text-align: left; }

.info-content {
  height: auto; }

.info-content p {
  font-family: "Arial", sans-serif;
  line-height: 22px;
  font-size: 12px;
  color: #fff; }

.save-time {
  float: left; }

.design-feat {
  float: right; }

.info.win-over {
  padding-left: 2%; }
  @media (max-width: 768px) {
    .info.win-over {
      padding-left: 0; } }

/* block-screen */
.background-demo {
  height: 800px;
  background: url(../image//TV-screen.png) 50% 0 no-repeat; }
  @media (min-width: 769px) and (max-width: 991px) {
    .background-demo {
      background-size: cover; } }
  @media (max-width: 768px) {
    .background-demo {
      height: 400px;
      background-size: contain; } }
  @media (max-width: 320px) {
    .background-demo {
      height: 200px;
      background-size: cover; } }

.block-screen .block-title {
  padding-top: 200px; }
  @media (max-width: 768px) {
    .block-screen .block-title {
      padding-top: 0; } }
  .block-screen .block-title h2 {
    margin: 0;
    padding: 150px 0 10px 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    font-size: 36px; }
    @media (max-width: 768px) {
      .block-screen .block-title h2 {
        padding: 80px 0 10px 0;
        font-size: 20px; } }

/* block-team */
.block-team {
  background: #ebebeb; }
  .block-team .container {
    overflow: hidden; }
  .block-team .team {
    margin: 0 0 35px 0; }

.block-team .block-title h2,
.block-team .block-title p {
  color: #717171; }

.block-team .block-title h2 {
  margin: 0;
  padding: 30px 0 7px 0;
  font-weight: 300;
  letter-spacing: 3px;
  font-size: 36px; }
  @media (max-width: 768px) {
    .block-team .block-title h2 {
      font-size: 20px; } }

.block-team .item figure {
  margin: 15px 10px; }
  @media (max-width: 768px) {
    .block-team .item figure {
      margin: 15px; } }

#owl-demo .item {
  margin: 3px; }

#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto; }
  @media (max-width: 768px) {
    #owl-demo .item img {
      max-width: 75%; } }
  @media (max-width: 948px) {
    #owl-demo .item img {
      max-width: 100%; } }

.team .persone {
  z-index: 1; }
  .team .persone img {
    border: 5px solid #fff; }
  @media (max-width: 768px) {
    .team .persone {
      margin: 1em 20px; } }

.img-relative {
  position: relative;
  display: block; }
  .img-relative span.tw-mask {
    position: absolute;
    right: -5px;
    bottom: 5px;
    width: 45px;
    height: 45px;
    background: #8f33c4;
    text-align: center; }
    @media (max-width: 768px) {
      .img-relative span.tw-mask {
        width: 30px;
        height: 30px; } }
    .img-relative span.tw-mask i {
      display: block;
      margin-top: 20%;
      color: #fff; }
  .img-relative:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 210px;
    height: 200px;
    background: #fff;
    border: 6px solid #fff;
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg); }
    @media (min-width: 769px) and (max-width: 991px) {
      .img-relative:after {
        display: none; } }
    @media (max-width: 768px) {
      .img-relative:after {
        display: none; } }

.persone figcaption {
  margin: 15px 0 25px 0; }

.persone figcaption h5,
.persone figcaption p {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: #7b7b7b; }

.persone figcaption h5 {
  padding: 6px 0 4px 0;
  font-size: 18px; }

.persone figcaption p {
  font-size: 14px;
  font-weight: 400; }

.team .owl-page.active span {
  background: #8f33c4; }

.owl-theme .owl-controls {
  margin-top: 5px; }

.block-table {
  display: table; }

.winning,
.features {
  display: table-cell;
  position: relative; }
  .winning:after,
  .features:after {
    content: '+';
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: #8f33c4;
    text-align: center;
    font-size: 22px;
    color: #fff; }

.winning,
.features,
.full-width-box {
  margin-bottom: 20px;
  width: 49%;
  background: #fff; }
  .winning .block-title,
  .features .block-title,
  .full-width-box .block-title {
    padding: 28px 0 20px 0;
    text-align: left; }
    .winning .block-title h3,
    .features .block-title h3,
    .full-width-box .block-title h3 {
      margin: 20px 0 0;
      padding: 0 50px;
      font-family: "Roboto", sans-serif;
      font-size: 30px;
      font-weight: 400;
      color: #252525; }
      @media (max-width: 768px) {
        .winning .block-title h3,
        .features .block-title h3,
        .full-width-box .block-title h3 {
          margin: 0;
          padding: 15px 0 0 15px; } }
  .winning .content, .winning h3,
  .features .content,
  .features h3,
  .full-width-box .content,
  .full-width-box h3 {
    padding: 0 50px 35px 50px; }
    @media (max-width: 768px) {
      .winning .content, .winning h3,
      .features .content,
      .features h3,
      .full-width-box .content,
      .full-width-box h3 {
        padding: 15px; } }
  .winning p,
  .features p,
  .full-width-box p {
    margin: 0;
    font-size: 12px; }
    .winning p:first-child,
    .features p:first-child,
    .full-width-box p:first-child {
      font-size: 14px;
      line-height: 25px;
      color: #6017a3; }
    .winning p:last-child,
    .features p:last-child,
    .full-width-box p:last-child {
      padding-top: 55px;
      line-height: 22px;
      color: #949494; }
      @media (max-width: 768px) {
        .winning p:last-child,
        .features p:last-child,
        .full-width-box p:last-child {
          padding-top: 15px; } }
  @media (min-width: 769px) and (max-width: 991px) {
    .winning,
    .features,
    .full-width-box {
      margin-bottom: 15px;
      width: 49%; } }
  @media (max-width: 768px) {
    .winning,
    .features,
    .full-width-box {
      display: block;
      margin-bottom: 15px;
      width: 100%; } }

.winning {
  margin-right: 20px;
  float: left; }

.features {
  margin-left: -20px;
  float: right; }

.full-width-box {
  display: block;
  clear: both;
  margin-bottom: 35px;
  width: 100%; }

/* footer */
footer {
  padding: 25px 0 100px 0;
  background: #373737;
  border-top: 4px solid #914dcf; }
  @media (max-width: 768px) {
    footer {
      padding: 15px 0; } }

.footer-info {
  display: inline-block;
  float: left;
  width: 50%;
  color: #fff; }
  .footer-info .logo {
    width: 50%; }
    .footer-info .logo h6 {
      padding-left: 4%;
      text-shadow: none; }
  @media (max-width: 768px) {
    .footer-info {
      width: 100%; } }
  .footer-info p {
    line-height: 23px;
    font-family: "Arial", sans-serif;
    font-weight: 100;
    font-size: 12px; }
    @media (max-width: 768px) {
      .footer-info p {
        font-size: 12px; } }

.menu-bottom, .menu_add-list,
.social-list {
  float: right;
  padding-left: 0;
  width: 45%; }
  @media (max-width: 768px) {
    .menu-bottom, .menu_add-list,
    .social-list {
      width: 100%; } }

.menu-bottom li, .menu_add-list li {
  display: inline; }
  .menu-bottom li .menu-item, .menu_add-list li .menu-item {
    padding: 0 15px;
    border-right: 1px solid grey;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #fff; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .menu-bottom li .menu-item, .menu_add-list li .menu-item {
        padding: 0 10px; } }
    @media (min-width: 769px) and (max-width: 991px) {
      .menu-bottom li .menu-item, .menu_add-list li .menu-item {
        padding: 0 10px; } }
    @media (max-width: 768px) {
      .menu-bottom li .menu-item, .menu_add-list li .menu-item {
        padding: 0 5px;
        font-size: 12px; } }
    .menu-bottom li .menu-item:hover, .menu_add-list li .menu-item:hover, .menu-bottom li .menu-item:active, .menu_add-list li .menu-item:active, .menu-bottom li .menu-item:focus, .menu_add-list li .menu-item:focus {
      background: none;
      border-bottom: 4px solid #914dcf;
      cursor: pointer; }
  .menu-bottom li:last-child .menu-item, .menu_add-list li:last-child .menu-item {
    border-right: none; }

ul.social-list {
  margin-top: 30px; }
  @media (max-width: 768px) {
    ul.social-list {
      margin-top: 20px; } }
  ul.social-list li {
    display: inline;
    padding: 10px 20px 0 10px; }
    ul.social-list li a {
      font-size: 12px; }
    ul.social-list li i, ul.social-list li a {
      color: #fff; }
    ul.social-list li [class^="flaticon-"]:before,
    ul.social-list li [class*=" flaticon-"]:before {
      padding-right: 5px;
      font-size: 10px; }
    @media (max-width: 768px) {
      ul.social-list li {
        padding: 0 0 0 7px; }
        ul.social-list li:first-child {
          padding: 0; } }

.menu_add-list {
  margin-top: 30px;
  width: 100%; }
  @media (max-width: 768px) {
    .menu_add-list {
      margin-top: 20px; } }
  .menu_add-list li {
    display: inline;
    padding-right: 15px; }
    .menu_add-list li a {
      font-size: 12px;
      color: #fff; }
      @media (max-width: 768px) {
        .menu_add-list li a {
          font-size: 12px; } }

.footer-info_add {
  display: block;
  padding-top: 15px; }
  .footer-info_add p {
    margin: 165px 0 0 0;
    width: 80%;
    line-height: 18px;
    font-size: 11px;
    color: #7e7e7e; }
    @media (max-width: 768px) {
      .footer-info_add p {
        width: 100%;
        font-size: 14px; } }

/*# sourceMappingURL=styles.css.map */
